exportPattern("^[[:alpha:]]+")
export(AddLine,addTable,AxisLabels,blankPlot,bubblePlot,closeFile,FindCSVs,ForestBasic,ForestFromCSV,FormatForest,FormatLP,FormatValueNice,LinearPlot,LinearPlotFromCSV,mainTitle,saveGUI,SetPage,TableFromCSV,WLScoefs,writePvalue,Xaxis,Yaxis)